<div fxLayout="column" class="components-container-gt-xs" fxLayoutGap="20px">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"
       fxLayoutGap="10px">
    <div fxFlex.sm="100" class="cdk-card-holder" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100">
      <mat-toolbar class="cards-header">
        <h1 class="mat-headline center-align">Clinica Veterinaria</h1>
      </mat-toolbar>

      <div class="cards-container">
        <div fxLayoutAlign="space-around stretch" fxLayoutWrap>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar style="background-image: url('../../../../../assets/logoveterinary.jpg');
  background-size: cover;"></div>
              <mat-card-title>{{clinic?.nombre}}</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="{{clinic?.logo}}" alt="Photo of a Shiba Inu">

            <mat-card-content>
              <p class="mat-body-1">
                {{clinic?.especialidades}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div fxFlex.xs="100" class="cdk-card-holder" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100">
      <mat-toolbar class="cards-header">
        <h1 class="mat-headline center-align">Datos de la Clinica</h1>
      </mat-toolbar>

      <div class="cards-container">
        <div  fxLayoutAlign="space-around stretch" fxLayoutWrap>
            <mat-card>
              <mat-card-content>
                <mat-card-subtitle>
                  <h4><strong>Nombre: </strong></h4> {{clinic?.nombre}}
                </mat-card-subtitle>
                <mat-card-subtitle><strong>Direccion: </strong>{{clinic?.direccion}}</mat-card-subtitle>
                <mat-card-subtitle><strong>Telefono: </strong>{{clinic?.telefono}}</mat-card-subtitle>
                <mat-card-subtitle><strong>Especialidades: </strong>{{clinic?.especialidades}}</mat-card-subtitle>
                <mat-card-subtitle><strong>Horario: </strong>{{clinic?.horario}}</mat-card-subtitle>

                <mat-card-subtitle><strong>Dias de atencion: </strong>{{clinic?.dias}}</mat-card-subtitle>
              </mat-card-content>
            </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
