<mat-toolbar color="primary">  
    <span>Mascotas</span>
    <span class="center"></span>
    <span (click)="goToLogin()">LOGIN</span>
</mat-toolbar>
<h2>Mascotas en Adopcion</h2>
<mat-icon (click)="swipeSearch()">search</mat-icon>
<div *ngIf="searchOpen">
    <mat-form-field>
        <mat-select placeholder="Especie" [(ngModel)]="especie">
          <mat-option *ngFor="let option of especies" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Raza">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Sexo" [(ngModel)]="sexo">
          <mat-option *ngFor="let option of sexos" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Edad" [(ngModel)]="edad">
          <mat-option *ngFor="let option of edades" [value]="option">{{option}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

<div class="container">
    <app-pet-view *ngFor="let pet of pets" [mascota]="pet"></app-pet-view>
</div>