<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"  fxLayoutGap="10px">
        <div fxFlex.sm="100" class="cdk-card-holder"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" >
            <mat-toolbar class="cards-header">
                <h1 class="mat-headline center-align" >Descripcion de la Mascota</h1>
            </mat-toolbar>

            <div class="cards-container">
                <div  fxLayoutAlign="space-around stretch" fxLayoutWrap >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="pet-header-image">
                            </div>
                            <mat-card-title>{{pet?.nombre}}</mat-card-title>
                            <mat-card-subtitle>{{pet?.especie}}</mat-card-subtitle>
                        </mat-card-header>

                        <img mat-card-image src="{{pet?.imagen}}" alt="Photo of a Shiba Inu">

                        <mat-card-content>
                            <p class="mat-body-1">
                                {{pet?.descripcion}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div fxFlex.xs="100"  class="cdk-card-holder"  fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" >
            <mat-toolbar class="cards-header">
                <h1 class="mat-headline center-align" >Datos de la Mascota</h1>
            </mat-toolbar>

            <div class="cards-container">
                        <mat-card-subtitle>
                            <h4><strong>Nombre: </strong></h4> {{pet?.nombre}}
                        </mat-card-subtitle>
                        <mat-card-subtitle><strong>Edad: </strong>{{pet?.edad}}</mat-card-subtitle>
                        <mat-card-subtitle><strong>Especie: </strong>{{pet?.especie}}</mat-card-subtitle>

                        <mat-card-subtitle><strong>Enfermedades: </strong>{{pet?.enfermedades}}</mat-card-subtitle>

                        <mat-card-subtitle><strong>Raza: </strong>{{pet?.raza}}</mat-card-subtitle>

                        <mat-card-subtitle><strong>Sexo: </strong>{{pet?.Sexo}}</mat-card-subtitle>

                        <mat-card-subtitle><strong>Procedencia</strong></mat-card-subtitle>
                        <mat-card-content>
                            <p>
                                {{pet?.procedencia}}
                            </p>
                        </mat-card-content>
            </div>
        </div>
    </div>
</div>