<mat-card>
  <h2>
    Registrar Clínica Veterinaria
  </h2>

  <form class="form" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="clinicForm">

    <div *ngIf="existImage; else nothing;">
      <img mat-card-sm-image class="image_preview" src="{{url}}">
      <br>
    </div>
    <br>
    <ng-template #nothing></ng-template>
    <label>Logo de la Clinica *</label>
    <button mat-raised-button type="button" (click)="openInput()">
      Escoga la imagen para subir
    </button>
    <!-- <input id="fileInput" hidden type="file" (change)="onSelectFile($event)"> -->
    <input id="fileInput" hidden type='file' accept=".jpg, .png" (change)="onSelectFile($event)">
    <div class="progress">
      <mat-progress-bar [value]="uploadPercent|async">
      </mat-progress-bar>
    </div>
    <input #imageClinic type="hidden" [value]="urlClinic|async">
    <mat-form-field>
      <input formControlName="Nombre" matInput class="input" placeholder="Nombre Clínica" required>
      <mat-error>Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Direccion" matInput class="input" placeholder="Direccion Clínica" required>
      <mat-error>Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Especialidades" matInput class="input" placeholder="Especialidades" required>
      <mat-error>Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Horario" matInput class="input" placeholder="Horario" required>
      <mat-error>Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Dias de Atencion" [formControl]="days" multiple>
        <mat-select-trigger>
          {{days.value ? days.value[0] : ''}}
          <span *ngIf="days.value?.length > 1" class="additional-selection">
        (+{{days.value.length - 1}} {{days.value?.length === 2 ? 'dia' : 'dias'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
      </mat-select>
      <mat-error>Este campo es requerido.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!clinicForm.valid || !existImage" (click)="onSubmit()">Enviar</button>
    <br>
    <button mat-raised-button color="" (click)="onCancel()">Cancelar</button>
  </form>
</mat-card>
