h2 {
  text-align: center;
}

.mat-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

button {
  margin-right: 1%;
}

form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: center
}

.image_preview {
  width: 400px;
  height: 200px;
}
