<div class="form" class="petForm">
    <div style="text-align:center">
      <h2>
        Registrar Mascota
      </h2>
    </div>

    <mat-card>
        <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="petForm" (ngSubmit)="onSubmit()">
                
                <img [src]="url" height="200"> <br/>
                <input type='file' (change)="onSelectFile($event)">

                <mat-form-field class="full-width">
                    <input type="email" id="email" class="input" placeholder="Please enter your email"
                           formControlName="email" required matInput>
                </mat-form-field>
                <div *ngIf="formErrors.email" class="help is-danger">
                    {{ formErrors.email }}
                </div>
                
                <mat-form-field class="full-width">
                    <input type="password" id="password" class="input" placeholder="please  enter your password"
                           formControlName="password" required matInput>
                </mat-form-field>
                <div *ngIf="formErrors.password" class="help is-danger">
                    {{ formErrors.password }}
                </div>
                
                <button mat-raised-button color="primary" type="submit" [disabled]="!petForm.valid" (click)="login()">log in</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>