<mat-card>
  <div class="container">
    <div class="example-container">
      <mat-card-title>
        Editar Clínica Veterinaria
      </mat-card-title>
      <div *ngIf="existeImagen; else nothing;">
        <img mat-card-sm-image src="{{url}}">
        <br>
      </div>
      <br>
      <ng-template #nothing></ng-template>
      <button mat-raised-button (click)="openInput()">
        Escoga la imagen para subir
      </button>
      <!-- <input id="fileInput" hidden type="file" (change)="onSelectFile($event)"> -->
      <input id="fileInput" hidden type='file' accept=".jpg, .png" (change)="onSelectFile($event)">

      <br>
      <br>

      <mat-form-field hintLabel="Max 50 caracteres">
        <input matInput #inputName placeholder="Nombre Clínica" maxlength="50" required [(ngModel)]="clinic_nombre">
        <mat-hint align="end">{{inputName.value?.length || 0}}/50</mat-hint>
        <mat-error>Este campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 100 caracteres">
        <input matInput #inputDireccion  placeholder="Direccion Clínica" maxlength="1000" required [(ngModel)]="clinic_direccion">
        <mat-hint align="end">{{inputDireccion.value?.length || 0}}/100</mat-hint>
        <mat-error>Este campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 10 caracteres">
        <input #inputTelefono type="number" matInput placeholder="Telefono" [errorStateMatcher]="matcher" [(ngModel)]="clinic_telefono" required>
        <mat-error *ngIf="inputTelefono.value?.length >= 10">El telefono no puede exceder de 10 digitos.</mat-error>
        <mat-error *ngIf="inputTelefono.value?.length <= 6">El telefono no puede ser menor a 6 digitos.</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 250 caracteres">
        <input matInput #inputEspecialidades placeholder="Especialidades" maxlength="250" required [(ngModel)]="clinic_especialidades">
        <mat-hint align="end">{{inputEspecialidades.value?.length || 0}}/250</mat-hint>
        <mat-error>Este campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Horario" required [(ngModel)]="clinic_horario">
        <mat-error>Este campo es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Dias de Atencion" [formControl]="days" multiple [(ngModel)]="clinic_dias">
          <mat-select-trigger>
            {{days.value ? days.value[0] : ''}}
            <span *ngIf="days.value?.length > 1" class="additional-selection">
        (+{{days.value.length - 1}} {{days.value?.length === 2 ? 'dia' : 'dias'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
        </mat-select>
        <mat-error>Este campo es requerido.</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()">Actualizar</button>
      <button mat-raised-button color="" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</mat-card>
