<mat-toolbar color="primary">  
    <span>Mascotas</span>
    <span class="center"></span>
    <span (click)="goToLogin()">LOGIN</span>
</mat-toolbar>
<br>
<h2 class="mat-h2">Mascotas en Adopción</h2>
  <mat-icon (click)="swipeSearch()">search</mat-icon>
<div *ngIf="searchOpen">
    <mat-form-field>
        <mat-select placeholder="Especie" [(ngModel)]="especie" (selectionChange)="filterPets()">
          <mat-option *ngFor="let option of especies" [value]="option.value">{{option.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="raza" matInput placeholder="Raza" (change)="filterPets()">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Sexo" [(ngModel)]="sexo" (selectionChange)="filterPets()">
          <mat-option *ngFor="let option of sexos" [value]="option.value">{{option.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Edad" [(ngModel)]="edad" (selectionChange)="filterPets()">
          <mat-option *ngFor="let option of edades" [value]="option.value">{{option.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

<div class="container">
    <app-pet-view *ngFor="let pet of pets" [mascota]="pet"></app-pet-view>
</div>
