.example-card {
    max-width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  mat-card-actions > * {
    width: 100%;
   
  }
h2 {
  text-align: center;
}