<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{row?.nombre}}</mat-card-title>
    <mat-card-subtitle>{{row?.id}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-subtitle>
    <strong>Nombre: </strong> {{row?.nombre}}
  </mat-card-subtitle>
  <mat-card-subtitle><strong>Ci: </strong>{{row?.cedula_identidad}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Correo: </strong>{{row?.correo_electronico}}</mat-card-subtitle>
  <mat-card-subtitle><strong>Direccion: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.direccion}}
    </p>
  </mat-card-content>
  <mat-card-subtitle>
    <strong>Provincia: </strong>
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.provincia}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Direccion: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.direccion}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Estado Civil: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.esta_civil}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Mascota Actual: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.mac_act}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Mascota Este: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.masc_este}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Mascota Ante: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.masc_ante}}
    </p>
  </mat-card-content>
  <mat-card-subtitle><strong>Mascota Visita: </strong></mat-card-subtitle>
  <mat-card-content>
    <p>
      {{row?.masc_visita}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button color="accent" (click)="onSubmit()">Aceptar</button>
    <br><br>

    <button mat-raised-button color="" (click)="onCancel()">Rechazars</button>
  </mat-card-actions>
</mat-card>
