<div class="form" class="petForm">
  <div style="text-align:center" class="mat-typography">
    <h2>
      Solicitud de Adopción
    </h2>
  </div>
  <form class="form" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="adoptionRequestForm">

    <mat-form-field hintLabel="Max 50 caracteres">
      <input formControlName="Nombre" #inputName matInput class="input" placeholder="Nombre Completo" maxlength="50" required>
      <mat-hint align="end">{{inputName.value?.length || 0}}/50</mat-hint>
      <mat-error>El nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 caracteres">
      <input formControlName="Correo" #inputEmail matInput class="input" placeholder="Correo Electronico" maxlength="50" [errorStateMatcher]="matcher" required>
      <mat-hint align="end">{{inputEmail.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="inputEmail.value?.length != 0">El correo electectronico no es valido</mat-error>
      <mat-error *ngIf="inputEmail.value?.length == 0">Este campo no puede estar vacio</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 caracteres (Formato: 7 numeros(ci) 2 letras(ciudad) Ejemplo: 1234567CB)">
      <input formControlName="CedulaIdentidad" #inputCarnet matInput class="input" placeholder="C.I." maxlength="50" [errorStateMatcher]="matcher" required>
      <mat-hint align="end">{{inputCarnet.value?.length || 0}}/50</mat-hint>
      <mat-error>Un carnet de identidad valido es requerido. (Formato: 7 numeros(ci) 2 letras(ciudad) Ejemplo: 1234567CB)</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="Departamento" placeholder="Departamento">
        <mat-option value="CB">COCHABAMBA</mat-option>
        <mat-option value="LP">LA PAZ</mat-option>
        <mat-option value="OR">ORURO</mat-option>
        <mat-option value="PT">POTOSI</mat-option>
        <mat-option value="SC">SANTA CRUZ</mat-option>
        <mat-option value="BN">BENI</mat-option>
        <mat-option value="PA">PANDO</mat-option>
        <mat-option value="TJ">TARIJA</mat-option>
        <mat-option value="CH">CHUQUISACA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Provincia" matInput class="input" placeholder="Provincia">
    </mat-form-field>

    <mat-form-field hintLabel="Max 150 caracteres">
      <input formControlName="Direccion" matInput class="input" placeholder="Direccion" maxlength="150" required>
      <mat-hint align="end">{{inputEmail.value?.length || 0}}/150</mat-hint>
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="Ocupacion" matInput class="input" placeholder="Ocupacion">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="EstadoCivil" placeholder="Estado civil">
        <mat-option value="soltero">SOLTERO/A</mat-option>
        <mat-option value="casado">CASADO/A</mat-option>
        <mat-option value="divorciado">DIVORCIADO/A</mat-option>
        <mat-option value="viudo">VIUDO/A</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field hintLabel="Max 250 caracteres">
      <textarea matInput #inputPreg1 formControlName="RazonAdopcion" maxlength="250" placeholder="Por qué quiere adoptar a la mascota ?"></textarea>
      <mat-hint align="end">{{inputPreg1.value?.length || 0}}/250</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="RazonMascotasEsterilizadas" matInput class="input" placeholder="Sus mascotas estan esterilizadas Por que ?">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="MascotasAnteriormente" matInput class="input"
             placeholder="Anteriormente a tenido otras mascotas ? Cuales ?">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="EstadoMascotasAnteriores" matInput class="input"
             placeholder="Que paso con sus anteriores mascotas ?">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="VisitaPeriodicaDomicilio" matInput class="input"
             placeholder="Está de acuerdo que se realicese una visaita periódica a su domicilio para ver cómo se encuentra la mascota adoptada? ?">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="button" [routerLink]="['']">Atras</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!adoptionRequestForm.valid" (click)="create()">
      Mandar Solicitud
    </button>
  </form>
</div>
